$color-purple-heart-800: #6c1cb2;
$color-raisin-black: #242424;
$blue-chalk-100: #e1dfff;
$color-white: #ffffff;
$color-white-ice-50: #e9fff5;
$color-white-de: #ffffffde;
$color-black: #000000;
$color-primary-accent: #1419e0d1;
